{% extends parent_template %}

{% block ovsdpdk_install %}
#FROM quay.io/rockylinux/rockylinux:9 as builder
# install ovs from source
#FROM rockylinux:9
#ENV TERM=xterm
{% if base_package_type == 'rpm' %}
    {% set ovs_dpdk_packages = [
       'epel-release',
       'gcc',
        'make',
        'kernel-devel',
        'kernel-headers',
        'libtool',
        'libmnl',
        'numactl-devel',
        'pciutils-devel',
        'python3-devel',
        'python3-pip',
        'git',
        'diffutils',
       'ethtool',
       'crudini'

     ] %}

{% endif %}

{{ macros.install_packages(ovs_dpdk_packages | customizable("packages"),clean=True) }}
RUN python3 -m pip install --no-cache-dir  meson  ninja pyelftools -i https://pypi.tuna.tsinghua.edu.cn/simple  
#RUN dnf install perl tk tcl lsof  libnl3 tcsh rpm-build pciutils createrepo gcc-gfortran fuse-libs   libnl3-devel ethtool -y 
#RUN dnf install -y \
#    kernel-devel  \
#    kernel-headers
RUN mkdir -p /lib/modules/$(uname -r) \
    && ln -s /usr/src/kernels/$(uname -r) /lib/modules/$(uname -r)/build
ADD plugins-archive /
RUN ln -s /plugins/ovs/ /ovs \
    && ln -s /plugins/dpdk/ /dpdk 
 #   && ln -s /plugins/mlnx-en-24.10-2.1.8.0-rhel9.4-x86_64  /MLNX
RUN ls -al /lib64/
RUN cp -ar /plugins/mlx-ofe-so/* /lib64/
RUN ls -al /lib64/
WORKDIR /lib64
RUN ldd libmlx5.so
RUN ldd libnl-3.so.200
RUN ldd libibverbs.so.1
RUN ldd libnl-route-3.so.200
RUN mkdir /usr/include/infiniband
RUN cp -ar /plugins/infiniband/* /usr/include/infiniband/
RUN ls -al /usr/include/infiniband/
RUN ls -al /dpdk/
RUN ls -al /ovs/
#WORKDIR /MLNX
#RUN dnf install perl tk tcl lsof  libnl3 \
#    tcsh rpm-build pciutils  createrepo gcc-gfortran fuse-libs  libnl3-devel -y 
#RUN  ./mlnxofedinstall --force   --dpdk --skip-repo  --distro rhel9.4 --add-kernel-support --kmp --without-fw-update 
#RUN ./mlnxofedinstall --skip-distro-check 
#RUN ./install --distro rhel9.4 --add-kernel-support
WORKDIR /dpdk
RUN if [ -f configure ]; then \
        make config T=x86_64-native-linuxapp-gcc && \
        make -j $(nproc); \
    else \
        meson  build && \
        ninja -C build &&  \
        ninja -C build install && \
        rm -rf /dpdk/build/meson-private; \
    fi

ENV PKG_CONFIG_PATH=/usr/local/lib64/pkgconfig \
    LD_LIBRARY_PATH=/usr/local/lib64:$LD_LIBRARY_PATH
WORKDIR /ovs
RUN ./boot.sh && \
 #   mkdir -p .ci .github/workflows .github/ISSUE_TEMPLATE  && \
 #   find .ci/ -type f -name "*.sh" -delete && \
 #   for script in \
 #       dpdk-prepare.sh dpdk-build.sh \
 #       linux-prepare.sh linux-build.sh \
 #       osx-prepare.sh osx-build.sh \
 #       windows-prepare.sh windows-build.sh \
 #       common-prepare.sh common-build.sh \
 #       azure-prepare.sh azure-build.sh \
 #       travis-prepare.sh travis-build.sh \
 #       github-prepare.sh github-build.sh; \
 #   do \
 #       echo '#!/bin/sh' > .ci/${script}; \
 #       echo 'echo "Skipping ${script} (dummy implementation)"' >> .ci/${script}; \
 #       echo 'exit 0' >> .ci/${script}; \
 #       chmod +x .ci/${script}; \
 #   done && \
 #   touch \
 #       .cirrus.yml \
 #       .travis.yml \
 #       .editorconfig \
 #       .gitattributes \
 #       .gitignore \
 #       .mailmap \
 #       .clang-format \
 #       azure-pipelines.yml \
 #       AUTHORS.rst \
 #       ChangeLog.rst \
 #       CODING_STYLE.rst \
 #       CONTRIBUTING.rst \
 #       README.rst  \
 #       .readthedocs.yaml \
 #       .github/workflows/build-and-test.yml \
 #       .github/workflows/ci.yml \
 #       .github/ISSUE_TEMPLATE/bug_report.md \
 #       .github/ISSUE_TEMPLATE/feature_request.md \
     ./configure --with-dpdk=static --prefix=/usr --with-dbdir=/etc/openvswitch --with-rundir=/run/openvswitch \
    && make -j4  CFLAGS='-O2 -fPIC' \
    && make install \
    && rm -rf /ovs/build-aux /ovs/.git


#FROM rockylinux:9-minimal
#FROM registry.aliyuncs.com/rockylinux/rockylinux:9-minimal
#FROM quay.io/rockylinux/rockylinux:9-minimal
#RUN microdnf install -y --nodocs \
#    numactl libmnl python3-libs \
#    && microdnf clean all

#COPY --from=builder /usr/local/ovs /usr/local/
#COPY --from=builder /usr/local/lib64/libdpdk.so.* /usr/local/lib64/
#COPY --from=builder /usr/sbin/ovs-vswitchd /usr/sbin/
#COPY --from=builder /usr/sbin/ovsdb-server /usr/sbin/
#COPY --from=builder /usr/lib/libopenvswitch.so* /usr/lib/
#COPY --from=builder /usr/share/openvswitch /usr/share/openvswitch

#jiRUN find /usr/local -name '*.a' -delete \
  #  && find /usr/local -name '*.la' -delete \
  #  && strip /usr/local/ovs/bin/* /usr/local/ovs/sbin/*

#ENV PATH=/usr/local/ovs/bin:$PATH \
#    LD_LIBRARY_PATH=/usr/local/ovs/lib:/usr/local/lib64


{% endblock %}
